.digitalization {
  &-title {
    position: relative;
    z-index: 9;
    &__inner {
      &-bg{
        position: absolute;
        background: linear-gradient(90deg, #CBE54E 0%, #5BA8A0 100%);
        height: 90%;
        width: 100%;
        left: 0;
        top: 52%;
        transform: translateY(-50%);
        z-index: -1;
        @media screen and (max-width: 1100px) {
          height: 95%;
        }
        @media screen and (max-width: 900px) {
          display: none;
        }
        &::after{
          content: '';
          position: absolute;
          background: #fff;
          width: 26%;
          height: 100px;
          left: 0;
          bottom: 0;
          z-index: -2;
          @media screen and (max-width: 1500px) {
            width: 20%;
          }
          @media screen and (max-width: 1300px) {
            width: 18%;
          }
          @media screen and (max-width: 1100px) {
            height: 75px;
            width: 17%;
          }
        }
        &::before{
          content: '';
          position: absolute;
          background: #fff;
          width: 59%;
          height: 100px;
          top: 0;
          right: 0;
          z-index: -2;
          @media screen and (max-width: 1500px) {
            width: 61%;
          }
          @media screen and (max-width: 1100px) {
            height: 75px;
          }
        }
      }

    }
  }

  &-desc {
    &__block {
      margin-top: 50px;
      padding: 50px 60px 50px;
      background: #F8FEE2;
      @media screen and (max-width: 1100px) {
        padding: 40px;
      }
      @media screen and (max-width: 900px) {
        padding: 40px 30px;
        margin-top: 20px;
      }
      @media screen and (max-width: 600px) {
        padding: 30px 20px;
      }

      &-1 {
        position: relative;

        .gradient-color {
          height: 100%;
          width: 50vw;
          position: absolute;
          left: 0;
          z-index: -1;
        }

        .description-26 {
          background-color: #fff;
          margin-left: auto;
          max-width: 1100px;
          width: 100%;
          //padding-right: 25px;
          padding-left: 25px;
          @media screen and (max-width: 1100px) {
            max-width: 90%;
          }
          @media screen and (max-width: 600px) {
            max-width: 95%;
            padding-left: 16px;
          }
          @media screen and (max-width: 480px) {
            max-width: 98%;
          }
        }
      }

      &-3 {
        position: relative;

        .gradient-color {
          height: 50%;
          width: 50vw;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          z-index: -1;
        }

        .description {
          background-color: #fff;
          margin-left: auto;
          max-width: 748px;
          width: 100%;
          //padding-right: 25px;
          padding-left: 25px;
          @media screen and (max-width: 1100px) {
            max-width: 90%;
          }
          @media screen and (max-width: 600px) {
            max-width: 95%;
            padding-left: 16px;
          }
          @media screen and (max-width: 480px) {
            max-width: 98%;
          }
        }
      }

      &-2 {
        position: relative;

        .gradient-color {
          height: 100%;
          width: 50vw;
          position: absolute;
          right: 0;
          top: 0;
          z-index: -1;
        }

        .description {
          background-color: #fff;
          max-width: 638px;
          width: 100%;
          padding-right: 40px;
          //padding-left: 25px;
          @media screen and (max-width: 1100px) {
            max-width: 90%;
            padding-right: 25px;
          }
          @media screen and (max-width: 600px) {
            max-width: 95%;
            padding-left: 16px;
          }
          @media screen and (max-width: 480px) {
            max-width: 98%;
          }
        }
      }
    }
  }

  &-block {
    overflow: hidden;

    &__inner {
      @media screen and (max-width: 1100px) {
        padding-top: 40px;
        width: 100%;
      }
    }

    &__images {
      @media screen and (max-width: 1100px) {
        position: unset;
        max-height: 150px;
      }
      @media screen and (max-width: 600px) {
        display: none;
        &:nth-child(1) {
          display: block;
        }
      }

      &-list {
        display: contents;
        @media screen and (max-width: 1100px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 20px;
        }
      }
    }

    .description-big {
      @media screen and (max-width: 1100px) {
        max-width: 100%;
        padding: 0 20px;
      }
    }
  }

  &-last {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    &__left {
      width: calc(50% - 10px);

      img {
        width: 100%;
        margin-top: 20px;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    &__right {
      width: calc(50% - 10px);

      img {
        width: 100%;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        img {
          margin-bottom: 0;
          margin-top: 20px;
        }
      }
    }

  }

  &-images {
    &__btn {
      @media screen and (max-width: 800px) {
        position: unset;
        margin-top: 20px;
      }
    }

    &__list {
      margin: -35px 0 20px;
      justify-content: space-between;
      @media screen and (max-width: 800px) {
        margin: 20px 0;
      }
    }
  }
}


